body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 1080px;
    background-color: #f2f2f2;
    background-image: url(orchestraBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.concert-hall {
    margin-top: 150px;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.instruments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instrument-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 75px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer; 
    background-color:rgba(149,21,40,0.5);
    transition-duration: 0.3s;
}

.instrument-card:hover {
    background-color: #951528;
}


.instrument-card h2 {
    margin:1rem;
}

.instrument-card p {
    margin:1rem;
}
